@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617;
  color: #f1f5f9;
  font-family: 'Inter', sans-serif;
}

.custom-glass {
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
